<!DOCTYPE html>
<html>

<head>
  <title>My Blog</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <h1> My Blog</h1>
  {% block content %}
<ul>  {% for post in blog_posts %}
      <h2>{{ post.title}}</h2> <br/>
      by {{ post.author}} on {{ post.date }} <br/>
      {{ post.text }}  <br/>
        {% for comment in post.comments.all %}
          {{comment.text}} <br/>
          -{{comment.author}}<br/>
          <br/>

        {% endfor %}
      <button type="button" id= "new_comm_{{post.id}}" onclick="showForm({{post.id}})">Add Comment</button>

      <form action="" style="visibility: hidden; display: none;" id={{post.id}}>
          {% csrf_token %}
          <!--{{form.as_p}}-->
         <p><label for="id_author">Author:</label> <input type="text" name="author" maxlength="200" required="" id="id_author_{{post.id}}" ></p>
          <p><label for="id_text">Text:</label> <textarea name="text" cols="40" rows="10" required="" id="id_text_{{post.id}}"></textarea></p>
          <!--<input type="hidden" id="postId" name="postId" value= {{post.id}}>-->
          <input class="sub" type="button" value="OK" >
          <button type="button" onclick="hideForm({{post.id}})">X</button>
      </form>



    {% block javascript %}
    <script>

    function showForm(id){
      $("#new_comm_" + id ).attr('style','visibility: hidden; display: none;');
      $("#" +id ).attr('style','visibility: visible; display: block;');
    };
    function hideForm(id){
      $("#new_comm_" + id ).attr('style','visibility: visible; display: block;');
      $("#" + id ).attr('style','visibility: hidden; display: none;');

    };

    $('.sub').on('click', function(event){
      event.preventDefault();
      console.log("submitted!")
      var post_Id= $(this).closest("form").attr('id');
      var author = $("#id_author_" +  + post_Id).val();
      var text = $("#id_text_" + post_Id).val();
      console.log(post_Id)
      add_comment(post_Id, author, text);
      event.stopImmediatePropagation();
      });



    function add_comment(id, author, text) {
    console.log("create post is working!")
    $.ajax({
        url : "/blog/",
        type : "POST",
        data : { post_Id : id,
                author : author,
                text : text,
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success : function(json) {
            console.log("success");
            location.reload()
        },
        error : function(xhr,errmsg,err) {
            console.log(err);
        }
    });
};
    </script>



<!--  <script>
  $("#sub").click(function () {
    var author = $("#id_author").val();
    var text = $("#id_text").val();
    var post_id= $('#postId').val();
    console.log(post_id);

    $.ajax({
      url: '/blog/',
      type: "POST",
      data: {
        'author': author,
        'text': text,
        'post_id': post_id
      },
      dataType: 'json',
      success: function (data) {
          alert("you rock");
      }
    });

  });
</script>-->
{% endblock %}





      <!--<script>
      style="visibility: hidden"
        function showForm() {
          document.getElementById("comm_form").style.visibility = "visible";
          document.getElementById("new_comm").style.visibility = "hidden";
        }

        function hideForm() {
          document.getElementById("new_comm").style.visibility = "visible";
          document.getElementById("comm_form").style.visibility = "hidden";
        }

      </script>-->

  {% endfor %}
</ul>

  {% endblock content %}
</body>

</html>
