<!DOCTYPE html>
<html>

<head>
  <title>My Blog</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <h1> My Blog</h1>
  {% block content %}
<ul>  {% for post in blog_posts %}
      <h2>{{ post.title}}</h2> <br/>
      by {{ post.author}} on {{ post.date }} <br/>
      {{ post.text }}  <br/>
        {% for comment in post.comments.all %}
          {{comment.text}} <br/>
          {{comment.author}}<br/>
          <br/>

        {% endfor %}
      <button type="button" id= "new_comm" onclick="showForm()">Add Comment</button>

      <form action="" method="post" id={{post.id}}>
          {% csrf_token %}
          {{form.as_p}}
        <!--  <p><label for="id_author">Author:</label> <input type="text" name="author" maxlength="200" required="" id="id_author"></p>
          <p><label for="id_text">Text:</label> <textarea name="text" cols="40" rows="10" required="" id="id_text"></textarea></p>
          <input type="hidden" id="postId" name="postId" value= {{post.id}}>-->
          <input type="submit" value="OK" id= "sub">
          <button type="button" onclick="hideForm()">X</button>
      </form>



      {% block javascript %}
<!--  <script>
  $("#sub").click(function () {
    var author = $("#id_author").val();
    var text = $("#id_text").val();
    var post_id= $('#postId').val();
    console.log(post_id);

    $.ajax({
      url: '/blog/',
      type: "POST",
      data: {
        'author': author,
        'text': text,
        'post_id': post_id
      },
      dataType: 'json',
      success: function (data) {
          alert("you rock");
      }
    });

  });
</script>-->
{% endblock %}





      <!--<script>
      style="visibility: hidden"
        function showForm() {
          document.getElementById("comm_form").style.visibility = "visible";
          document.getElementById("new_comm").style.visibility = "hidden";
        }

        function hideForm() {
          document.getElementById("new_comm").style.visibility = "visible";
          document.getElementById("comm_form").style.visibility = "hidden";
        }

      </script>-->

  {% endfor %}
</ul>

  {% endblock content %}
</body>

</html>
